* {
  box-sizing: border-box;
}

body {
  font-family: 'Philosopher', sans-serif;
  background-color: #853F2F;
}

header {
	color: white;
	font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D7CBB4;
  color: black;
}

.topnav a.active {
  background-color: #BFAF96;
  color: white;
}

.topnav .icon {
  display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #853F2F;
}

.flex-container > div {
  background-color: #853F2F;
  margin: 0px;
  padding: 5px;
  font-size: 18px;
}

footer {
  background-color: #000000;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
article {
  float: right;
  padding: 10px;
  width: 50%;
  background-color: #f1f1f1;
  height: 150px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  picture, article {
    width: auto;
    height: auto;
  }
}
